
<app-header-connecte></app-header-connecte>
<br><br><br><br>
<div  class="container">
  <div>
    <p class="text-center">FORUM DE DISCUSSION</p>
  </div>
  <div class="forum mb-3">
Bienvenue sur notre forum de discussion ! Afin de maintenir un environnement respectueux et propice à des discussions
enrichissantes, nous vous prions de respecter les règles.Soyez respectueux envers tous les membres du forum, indépendamment de leurs opinions, croyances ou origines.

  </div>
  <div class="row">
      <div class="col-lg-3 col-md-6  border" style="background-color: red;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, obcaecati?</div>
      <div class="col-lg-3 col-md-6  border" style="background-color: green;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio, in!</div>
      <div class="col-lg-3 col-md-6  border" style="background-color: gray;">Lorem ipsum dolor sit amet consectetur adipisicing elit. At, similique?</div>
      <div class="col-lg-3 col-md-6  border" style="background-color: black;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, porro!</div>
      <div class="col-lg-3 col-md-6  border" style="background-color: red;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem, nemo?</div>
      <div class="col-lg-3 col-md-6  border" style="background-color: green;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, a?</div>
      <div class="col-lg-3 col-md-6  border" style="background-color: gray;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita, delectus!</div>
      <div class="col-lg-3 col-md-6  border" style="background-color: black;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, quo.</div>
    </div>

</div>
<div class="container">

</div>



<app-footer></app-footer>
