<!-- Exemple dans un fichier de composant -->
<!-- <div class="container">
  <h1>Mon Projet Angular avec Bootstrap</h1>
  <button class="btn btn-primary">Bouton Bootstrap</button>
</div> -->
<!-- Exemple dans un fichier de composant -->
<!-- <i class="fas fa-heart"></i>  -->
<!-- Icône de cœur -->

<!-- header -->

<!-- <button (click)="toggleUserConnection()">
  {{ isUserConnected ? 'Déconnexion' : 'Connexion' }}
</button> -->
<!-- <app-auth></app-auth> -->

  <!-- <app-header *ngIf="!isUserConnected"></app-header>
  <app-header-connecte *ngIf="isUserConnected"></app-header-connecte> -->




<router-outlet></router-outlet>
