<nav class="navbar fixed-top">
  <!-- <h2 class="logo"><a href="#">CodingNepal</a></h2> -->
  <img src="assets/logo.png" alt="" style="width: 150px;">
  <input type="checkbox" id="menu-toggle" />
  <label for="menu-toggle" id="hamburger-btn">
    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
      <path d="M3 12h18M3 6h18M3 18h18" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
    </svg>
  </label>
  <ul class="links">
    <li><a href="#">Accueil</a></li>
    <li><a href="#">Projets</a></li>
    <li><a routerLink="/forum" class="active">Forum</a></li>
    <li><a href="#">A propos</a></li>
    <li><a href="#">Soumettre un projet</a></li>
  </ul>
  <div class="buttons">
    <button class="btn btn-custom" >Deconnecter</button>
    <!-- <a href="#" class="signin">Connecter</a> -->

  </div>
</nav>



